@mixin button {
    background-color: #4287f5;
    font-size: 1rem;
    padding: 5px;
    border-radius: 20px;
    &:hover{
        cursor: pointer;
        background-color: #06409c;
        color: #ffffff;
    }
    &:focus{
        outline: none;
    }
}
.returnBook{
    margin-left: 15%;
}
.returnSearch{
    width: 40%;
    margin: auto;
}

.returnMember{
    padding: 10px;
    margin: auto;
    width: fit-content;
    text-align: left;
}

.returnMemBook{
    padding: 15px;
    p{
        display: inline;
        padding-right: 20px;
    }
    button{
      @include button();      
    }
}

.selectedBook{
    text-align: left;
    margin: auto;
    width: fit-content;
    button{
        @include button();
        width: 100%;
    }
}