.loginBtn{
    width: 50%;
    margin: 20px;
    background: #4287f5;
    border-radius: 10px;
    height: 30px;
    opacity: 1;
    transition: all 0.5s ease-out;
    &:focus{
        outline: none;      
    }
    &:hover{
        background: #0045b5;
        color:  #ffffff;
    }
    &:disabled{
        opacity: 0.8;
    }

}