@mixin rowdisplay {
    display: flex;
    flex-flow: row;
}

.NavBar{
    @include rowdisplay();
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #dedede;
    justify-content: space-between;
    .NavBarUser{
        @include rowdisplay();
        margin: 5px;
            .Icon{
                font-size: 40px;
            }
        }
}

.Navigation {
    @include rowdisplay();
    list-style: none;
    justify-content: flex-end;
}