.NavigationItem {
    margin: 10px;
    box-sizing: border-box;
    display: block;
    a{
        color: #353F4F;
        text-decoration: none;
        width: 100%;
        box-sizing: border-box;
        display: block;
        &:hover{
            color:  #ffffff;  
        }
    }
    
    .active{
        color: #ffffff;
        }
}
