.NavigationItem {
    margin: 10px;
    box-sizing: border-box;
    display: block;
    a{
        color: #8f5c2c;
        text-decoration: none;
        width: 100%;
        box-sizing: border-box;
        display: block;
        &:hover{
            color:  #40a4c8;  
        }
    }
    .active{
        color:  #40a4c8;
        }
}
