$background: #4287f5;

.Input
{
    text-align: left;
    margin: 10px;
    width: 100%;
    input{
        width: 90%;
        position: relative;
        border: none;
        border-bottom: 1px solid black;
        margin: 10px;
        background: transparent;
        transition: all 0.3s ease-out;
        &:focus{
            outline: none;
            border-bottom: 2px solid $background;
            padding-top: 20px;   
        }
        &[type=number]{
        width: 10%;
    }   
    }
    
.floatingLabel {
    padding-bottom: 2px;
    color: black;
    }
.validationText{
    font-size: 0.8rem;
    margin: 0;
    color: #c20000;
    }
}
