.Member{
    display: flex;
    flex-direction: row;
    .MemberMenu{
        float: left;
        flex: 1 1 1;
    }
    .MemberAction{
        flex: 2 1 0;
    }
    .Dash{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}