.Auth{
    background-color: #dedede;
    width: 100%;
    height: 100%;
    position: fixed;
    .AuthForm{
        margin: 100px auto;
        width: 40%;
        height: auto;
        background-color: white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        .errorDisplay{
            color:  #919090;
            font-size: 0.8rem;
        }
    }
}