.BookShelf{
    display: flex;
    flex-direction: row;
    .BookShelfMenu{
    float: left;
    display: block;
    flex: 1 1 1;
}

.BookShelfActionDispaly{
    flex: 2 1 0;
}
.Dash{
display: flex;
flex-direction: row;
justify-content: space-around;
}
}